
@{
    ViewData["Title"] = "Video Search";
}

<h1>Video Search</h1>
<form asp-action="GetVideos">
  <div class="row">
      <div class="col">
          <input type="text" name="SearchTerm" class="form-control" placeholder="Search">
      </div>
      <div class="col-3">
          <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  </div>
</form>

