
@{
    ViewData["Title"] = "Song Search";
}

<h1>Song Search</h1>
<form>
  <div class="row">
      <div class="col">
          <input type="text" class="form-control" id="ArtistName" placeholder="Artist Name">
      </div>
      <div class="col">
          <input type="text" class="form-control" id="SongName" placeholder="Song Name">
      </div>
      <div class="col-2">
          <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  </div>
</form>
