@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Song Finder</h1>
  <p class="lead">This is a website dedicated to finding songs used in previous montages.</p>
  <hr class="my-4">
  <p>Find the Github Repo here</p>
  <a class="btn btn-primary btn-lg" target="_blank" href="https://github.com/coletcarlson/MontageSongExplorer" role="button">View Repo</a>
</div>
